/* @font-face {
  font-family: 'Roboto', sans-serif;
  src: local('Roboto'), url(../fonts/Roboto-Regular.ttf) format('truetype');
} */

body {
  text-align: center;
  margin: auto;
  font-family: 'Roboto', sans-serif;
}

div {
  /* border: solid 1px red; */
}

h1 {
  margin: 0;
}

.app-wrapper {
  padding: 50px;
}




