.classrooms-container {
  padding: 20px;
  text-align: left;
}

.list-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.classroom {
  width: calc(100% / 5);
  box-sizing: border-box;
}

.classroom:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.classroom-content {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 10px;
}

h2 {
  margin: 0 0 0.4em 0;
  font-size: 1.8rem;
}

h4 {
  margin: 0;
}