:root {
  --spritesheet: url('../../images/spritesheet.png');
}

h2 {
  margin: 0;
  font-size: 1.8rem;
  padding: 10px;
}

h4 {
  margin: 0;
}

.classrooms-container {
  padding: 20px;
  text-align: left;
}

.list-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.card {
  width: calc(calc(100% - 100px) / 5);
  box-sizing: border-box;
  padding-bottom: 20%;
  position: relative;
  border: solid 2px #000;
  border-radius: 10px;
  margin: 10px;
}

.card-content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.card-details > p {
  word-wrap: wrap;
}

.card-icons {
  position: absolute;
  bottom: 10px;
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 20%;
  box-sizing: border-box;
  background-image: var(--spritesheet);
  background-size: 100%;
}

.icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#icon-view {
  background-position: 0% 100%;
}

#icon-set {
  background-position: 0% 75%;
}

#icon-clear {
  background-position: 0% 25%;
}

#icon-settings {
  background-position: 0% 50%;
}

.modal-child {
  background: #000;
  color: #fff;
}