:root {
  --spritesheet: url('../../images/spritesheet.png');
}

h2 {
  margin: 0;
  font-size: 1.8rem;
  padding: 10px;
}

h4 {
  margin: 0;
}

.classrooms-container {
  padding: 20px;
  text-align: left;
}

.list-wrapper {
  overflow: auto;
  white-space: nowrap;
}

.card {
  width: calc(calc(100% - 100px) / 3);
  box-sizing: border-box;
  padding-bottom: 30%;
  position: relative;
  border: solid 2px #000;
  border-radius: 10px;
  margin: 10px;

  display: inline-block;
  /* text-align: center; */
  text-decoration: none;
}

.card-content {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  box-sizing: border-box;
}

.card-details > h3 {
  /* word-wrap: wrap; */
  white-space: normal;
  font-size: 2em;
  margin: 0;
}

.card-details > p {
  /* word-wrap: wrap; */
  white-space: normal;
  font-size: 1.4em;
}

.card-icons {
  position: relative;
  /* bottom: 10px; */
  width: calc(100% - 20px);
  display: flex;
  justify-content: space-between;
}

.icon {
  width: 20%;
  box-sizing: border-box;
  background-image: var(--spritesheet);
  background-size: 100%;
}

.icon:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#icon-view {
  background-position: 0% 100%;
}

#icon-set {
  background-position: 0% 75%;
}

#icon-clear {
  background-position: 0% 25%;
}

#icon-settings {
  background-position: 0% 50%;
}

@media only screen and (max-width: 800px) {
  .list-wrapper {
    /* height: 300px; */
    /* overflow-x: hidden;
    overflow-y: scroll; */
  }

  .card {
    width: calc(calc(100% - 60px) / 2);
  }

  .card:after {
    content: "";
    display: block;
    padding-bottom: 30%;
  }
}

@media only screen and (min-width: 1501px) {
  .card-details > h3 {
    font-size: 2.8em;
  }
  
  .card-details > p {
    font-size: 2em;
  }
}